fieldset {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem !important;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

legend {
  font-size: 1rem;
  background: #ccc;
  padding: .5rem !important;
  border-radius: .5rem;
  margin-left: 1rem !important;
}

div.probe-arg {
  margin-bottom: 1rem;
}

div.probe-arg label {
  margin-right: 1rem;
  font-weight: bold;
  grid-column: 1;
}

div.probe-arg input {
  width: 70%;
  grid-column: 2;
  color: #333;
}


div.probe-arg span.probe-required {
    color: #fff;
    background: #d00;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 1rem;
    line-height: 1.5rem;
    border-radius: 40%;
    grid-column: 3;
}

span.probe-required:before {
  content: '\01c3';
  padding: 0 .6rem;
}

.probe-ctrl-string {}
.probe-ctrl-date {}
.probe-ctrl-number {}